---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

interface Props {
  post: CollectionEntry<'work'>;
}

const { post } = Astro.props;
---

<div>
  <a href="javascript:void(0)"
     data-modal-target=`work-${post.id}-modal`
     data-modal-toggle=`work-${post.id}-modal`
  >
    <Image src={post.data.image} height="200" width="400" alt="hello world" class="w-full h-auto" />
  </a>

  <!-- Lightbox Modal -->
  <div
    id=`work-${post.id}-modal`
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
    <div class="relative p-4 w-full max-h-full">

      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <Image src={post.data.image} alt="hello world" class="w-full h-auto" />
      </div>
    </div>
  </div>
</div>
